<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="..\img\p1.jpg" alt="Black Cat" style="width:500px;">
            <h1 class="display-4">Muhammad Adityo</h1>
            <p class="lead">User</p>
        </div>
    </div>
</div>